<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type">

    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/default_ys.css">
    <link rel="stylesheet" href="/css/main_ys.css">
    <link rel="stylesheet" href="/css/qna_ys.css">
    <link rel="stylesheet" href="/css/animation_ys.css">
    <link rel="stylesheet" href="/css/result_ys.css">
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>

</head>
<body>
<div class="container">

    <!-- main 섹션 -->
    <section id="main" class="mx-auto my-5 py-5 px-3">
        <h1 class="pt-5">십이간지로 알아보는 연애유형</h1>
        <div cl ass="col-lg-6 col-md-8 col-sm-10 col-12 mx-auto">
            <img src="/img/main_ys.png" alt="mainImage" class="img-fluid">
        </div>
        <p>
            아래 '시작하기' 버튼을 눌러주세요.
        </p>
        <button type="button" class="btn btn-danger mt-3" onclick="js:begin()">시작하기</button>
    </section>

    <!-- qna 섹션 -->
    <section id="qna">

        <div class="status mx-auto mt-5">
            <div class="statusBar">

            </div>
        </div>

        <div class="qBox my-5 py-3 mx-auto">

        </div>
        <div class="answerBox">

        </div>
    </section>


    <!-- result 섹션 -->
    <section id="result" class="mx-auto my-5 py-5 px-3">
        <h1>정보를 입력하고 결과를 확인해보세요!</h1>

        <div id="userinfo-div" class="col-lg-6 col-md-8 col-sm-10 col-12 mx-auto">
        <form id="form" class="form-horizontal">

        <!--front 월요일 꾸밀 예정-->
        <input type="text" id="mname" class="form-control" placeholder="이름을 입력해 주세요." />
        <input type="text" id="mage" class="form-control" placeholder="나이를 입력해 주세요." /><br/>
        <input type="radio" name="mgender" value="male">남자
        <input type="radio" name="mgender" value="female">여자<br/><br/>

        <!--<button id="btn-save" class="btn btn-primary" onclick="js:insertResult()">결과보기</button>-->
        <button type="button" class="btn btn-primary" onclick="js:insertMemberInfo()">결과보기</button>

        </form></div>
    </section>

    <script type="text/javascript" th:src="@{/js/data_ys.js}"></script>
    <script type="text/javascript" th:src="@{/js/start_ys.js}"></script>

</div>
</body>
</html>