<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?&family=Dongle:wght@300&family=Jua&family=Nanum+Pen+Script&display=swap"
        rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/css/success_yj.css">
  <title>성격테스트</title>
</head>
<body bgcolor="#dee9de">
<br><br><br>

<div class="final">
  <br>
  <h1>🍧🍨🍦🍧🍨🍦🍧🍨🍦🍧🍨🍦🍧🍨</h1>
  <h1>🍧　　당신에게 어울리는 아이스크림은 ?　　🍨</h1>
  <h1>🍧🍨🍦🍧🍨🍦🍧🍨🍦🍧🍨🍦🍧🍨</h1>
  <br>
  <button type="button" id="content" style="width: 600px; height: 500px;">
    <p>당신의 아이스크림은 '테스트' 입니다!</p>
  </button><br><br><br>
  <input type="button" class="home" value="다른 테스트 하러가기" onClick="location.href='http://localhost:8080/'" width="100">
</div>
<br>
<div class="share"><br>
  <h2>▷ 친구들에게 공유하기 ◁</h2>
  <button type="button" id="shareTw" class="btn_comm">
    <img src="https://d2k6w3n3qf94c4.cloudfront.net/prod.static/common/img/SNS/twitter.2761f4d7e098.svg"></button>
  <button type="button" id="shareFb" class="btn_comm">
    <img src="https://d2k6w3n3qf94c4.cloudfront.net/prod.static/common/img/SNS/facebook.34d74b3dc187.svg"></button>
</div><br>
<br>
<div class="wrapper">
  <div class="tableBox">
    <table class="tableData">
      <colgroup>
        <col width="8%">
        <col width="15%">
        <col width="15%">
        <col width="10%">
        <col width="25%">
      </colgroup>
      <thead>
      <tr>
        <th colspan="5" class="stiky">다른 친구들의 결과는 어떨까?</th>
      </tr>
      <tr>
        <th class="stiky">no</th>
        <th class="stiky">이름</th>
        <th class="stiky">생일</th>
        <th class="stiky">성별</th>
        <th class="stiky">테스트 결과</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
      </tr>
      </tbody>
    </table>
  </div>
</div><br><br>

</body>
<script src="/js/test_yj.js" charset="utf-8"></script>
<script src="/js/success_yj.js" charset="utf-8"></script>

</html>