<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="/css/ForFont.css">
    <script defer type="text/javascript" src="/js/psyTest.js"></script>

</head>
<body>
    <div class="initBox"><button onclick="queryModule.initQuery()" id="initBtn">심리 테스트 시작</button></div>
    <div id="query" ></div>
    <div id="button"></div>
<!--    <ol>-->
<!--        <li>-->
<!--            <input type="button" onclick="testB()" class="test" name="test1" style="width: 600px;" value="1. 아침"><br>-->
<!--            <input type="button" class="test" name="test1" style="width: 600px;" value="2. 점심"><br>-->
<!--            <input type="button" class="test" name="test1" style="width: 600px;" value="3. 저녁"><br>-->
<!--            <input type="button" class="test" name="test1" style="width: 600px;" value="4. 새벽">-->
<!--        </li>-->
<!--        <li>-->
<!--            <button onclick="testB(this)" id="dkflsjfsdklfasl" class="test1">1.아침</button>-->
<!--            <button onclick="testB()" class="test1">2.아침</button>-->
<!--            <button onclick="testB()" class="test1">3.아침</button>-->
<!--            <button onclick="testB()" class="test1">4.아침</button>-->
<!--        </li>-->
<!--    </ol>-->
<!--    <div class="submitBtn">-->
<!--        <button id="testBtn" onclick="next()">테스트버튼</button>-->
<!--        <input type="button" id="back" value="홈페이지" width="100">-->
<!--        <input type="submit" id="next" value="시작하기" width="100">-->
<!--    </div>-->
</body>
</html>